<div class="row">
  <div class="col">
    {{translation.language.name}}
  </div>
  <div class="col">
    {{translation.language.code}}
  </div>
  <div class="col">
    {{translation.version}}
  </div>
  <div class="col">
    <div class="btn-group" role="group">
      <button (click)="translation.show = !translation.show" *ngIf="!translation.is_published" type="button" class="btn btn-warning">
        Edit pages
      </button>
      <button *ngIf="!translation.is_published" type="button" class="btn btn-success">
        Publish
      </button>
    </div>
    <button *ngIf="translation.is_published" (click)="createDraft()" class="btn btn-secondary">New Draft</button>
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="translation.show">
    <div *ngFor="let page of getPages()" [ngSwitch]="page['_type']">
      <button *ngSwitchCase="'page'" (click)="openPage(page)" class="btn btn-secondary btn-block">
        {{page.filename}}
      </button>
      <button *ngSwitchCase="'custom-page'" (click)="openCustomPage(page)" class="btn btn-secondary btn-block">
        {{page.page.filename}}
      </button>
    </div>
  </div>
</div>
