<div *ngIf="translation.language">
  {{translation.language.name}}
  {{translation.language.code}}
</div>
{{translation.version}}
<button (click)="translation.show = !translation.show" *ngIf="!translation.is_published">
  Edit pages
</button>
<button *ngIf="!translation.is_published">
  Publish
</button>
<button *ngIf="translation.is_published" (click)="createDraft()">New Draft</button>
<ol *ngIf="translation.show">
  <li *ngFor="let page of getPages()" [ngSwitch]="page['_type']">
    <button *ngSwitchCase="'page'" (click)="openPage(page)">{{page.filename}}</button>
    <button *ngSwitchCase="'custom-page'" (click)="openCustomPage(page)">{{page.page.filename}}</button>
  </li>
</ol>
