<div class="card mb-3">
  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center {{
      !isMetaTool() && 'pointer'
    }}"
    (click)="showDetails = !showDetails"
  >
    <span class="h4 mb-0">
      {{ resource.name }}<i class="fa fa-chevron-down"></i>
    </span>
    <div
      class="btn-group btn-group-sm justify-content-end flex-wrap"
      role="group"
    >
      <button
        (click)="openUpdateModal(resource); $event.stopPropagation()"
        class="btn btn-warning mb-2 mb-sm-2 mb-lg-0"
      >
        <i class="fa fa-pencil"></i> Details
      </button>
      <button
        (click)="
          openAttributeTranslationsModal(resource); $event.stopPropagation()
        "
        class="btn btn-primary mb-2 mb-sm-2 mb-lg-0"
        *ngIf="!isMetaTool()"
      >
        <i class="fa fa-language"></i> Translated Attributes
      </button>
      <button
        (click)="openGenerateModal(resource); $event.stopPropagation()"
        class="btn btn-secondary"
        *ngIf="!isMetaTool()"
      >
        <i class="fa fa-plus"></i> Generate multiple drafts
      </button>
    </div>
  </div>
  <div class="card-body bg-dark" [ngbCollapse]="!showDetails || isMetaTool()">
    <div class="row mt-3">
      <div class="col">
        <!-- Pages UI -->
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Default Pages</span>
            <button class="btn btn-secondary" (click)="createPage()">
              <i class="fa fa-file"></i> Add new page
            </button>
          </div>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let page of resource.pages"
            >
              {{ page.filename }}
              <button
                (click)="openPage(page)"
                class="btn btn-outline-dark float-right"
              >
                <i class="fa fa-pencil"></i> Edit
              </button>
            </li>
            <li class="list-group-item" *ngIf="!(resource.pages.length > 0)">
              No pages added
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <!-- Tips UI -->
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Default Tips</span>
            <button class="btn btn-secondary" (click)="createTip()">
              <i class="fa fa-file"></i> Add new tip
            </button>
          </div>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let tip of resource.tips"
            >
              {{ tip.name }}
              <button
                (click)="openTip(tip)"
                class="btn btn-outline-dark float-right"
              >
                <i class="fa fa-pencil"></i> Edit
              </button>
            </li>
            <li class="list-group-item" *ngIf="!(resource.tips.length > 0)">
              No tips added
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Customize Languages UI -->
    <div class="card mt-3">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <span class="h5 mb-0 text-nowrap mr-2">Customize Languages</span>
        <ng-template #rt let-r="result" let-t="term">
          <div class="d-flex justify-content-between">
            <div class="mr-2">
              <ngb-highlight [result]="r.language.name" [term]="t.split(' ')">
              </ngb-highlight>
              (<ngb-highlight [result]="r.language.code" [term]="t.split(' ')">
              </ngb-highlight
              >)
            </div>
            <admin-translation-version-badge
              [translation]="r.latestTranslation"
            >
            </admin-translation-version-badge>
          </div>
        </ng-template>

        <div class="input-group">
          <input
            type="text"
            placeholder="Choose a language"
            class="form-control language-search-typeahead"
            [(ngModel)]="selectedLanguage"
            [ngbTypeahead]="languageSearch"
            [resultTemplate]="rt"
            [inputFormatter]="languageFormatter"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
            [editable]="false"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              type="button"
              (click)="selectedLanguage = undefined"
            >
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="selectedLanguage">
        <admin-translation
          [language]="selectedLanguage.language"
          [resource]="resource"
          [translationLoaded]="translationLoaded$"
          (loadResources)="onLoadResources()"
        ></admin-translation>
      </div>
      <div class="card-body" *ngIf="!selectedLanguage">
        To customize a language, search or select a language above
      </div>
    </div>

    <ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
      {{ errorMessage }}
    </ngb-alert>
  </div>
</div>
