<div class="card mb-3">
  <div class="card-header" (click)="showLanguages = !showLanguages">
    <span class="h4" style="cursor:pointer">
      {{resource.name}}
    </span>
    <div class="float-right">
      <button (click)="openUpdateModal(resource); $event.stopPropagation()" class="btn btn-warning">
        <i class="fa fa-pencil"></i> Details
      </button>
      <button (click)="openGenerateModal(resource); $event.stopPropagation()" class="btn btn-secondary">
        <i class="fa fa-plus"></i> Generate multiple drafts
      </button>
    </div>
  </div>
  <div class="card-body" [ngbCollapse]="!showLanguages">
    <!-- Pages UI -->
    <table class="table border border-dark mb-3">
      <thead class="thead-dark" (click)="showDefaultPages = !showDefaultPages">
        <tr>
          <th class="align-middle">Default Pages</th>
          <th>
            <div class="float-right">
              <button class="btn btn-secondary" (click)="createPage(); $event.stopPropagation()">
                <i class="fa fa-file"></i> Add new page
              </button>
              <button (click)="true" class="btn btn-primary">
                <i class="fa fa-copy"></i> Show/Hide
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody [ngbCollapse]="!showDefaultPages">
        <tr *ngFor="let page of resource.pages">
          <td>{{page.filename}}</td>
          <td>
            <div class="container">
              <button (click)="openPage(page)" class="btn btn-outline-dark float-right">
                <i class="fa fa-pencil"></i> Edit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Tips UI -->
    <table class="table border border-dark mb-3">
      <thead class="thead-dark" (click)="showDefaultTips = !showDefaultTips">
        <tr>
          <th class="align-middle">Default Tips</th>
          <th>
            <div class="float-right">
              <button class="btn btn-secondary" (click)="createTip(); $event.stopPropagation()">
                <i class="fa fa-file"></i> Add new tip
              </button>
              <button (click)="true" class="btn btn-primary">
                <i class="fa fa-copy"></i> Show/Hide
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody [ngbCollapse]="!showDefaultTips">
        <tr *ngFor="let tip of resource.tips">
          <td>{{tip.filename}}</td>
          <td>
            <div class="container">
              <button (click)="openTip(tip)" class="btn btn-outline-dark float-right">
                <i class="fa fa-pencil"></i> Edit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
      {{errorMessage}}
    </ngb-alert>
    <div class="container">
      <div class="row">
        <div class="col">
          <strong>Language</strong>
        </div>
        <div class="col">
          <strong>Latest Version & Status</strong>
        </div>
        <div class="col">
          <strong>Custom Manifest</strong>
        </div>
        <div class="col">
          <strong>Actions</strong>
        </div>
      </div>
      <div *ngFor="let language of resourcesComponent.languages"> 
        <admin-translation [language]="language" [resource]="resource" [translationLoaded]="translationLoaded$" (loadResources)="onLoadResources()"></admin-translation>
      </div>
    </div>
  </div>
</div>
