<h3>Attachments</h3>

<div>
  <h5>Upload new image</h5>
  <input type="file" ng2FileSelect [uploader]="uploader" />
  Resource
  <select [(ngModel)]="selectedResource">
    <option *ngFor="let resource of resources" [ngValue]="resource">{{ resource.name }}</option>
  </select>
  Add to zip file?
  <select [(ngModel)]="is_zipped">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <button (click)="uploadNewFile()">Upload</button>
</div>

<div *ngFor="let resource of resources">
  {{resource.name}}
  <div *ngFor="let attachment of resource.attachments">
    {{attachment.id}}
    <button (click)="attachment.show = !attachment.show">View</button>
    <img src="{{attachment.file}}" *ngIf="attachment.show"/>
  </div>
</div>
