<ngb-alert type="warning" [dismissible]="false" *ngIf="loading">
  Loading...
</ngb-alert>
<!-- TODO error handling -->
<admin-xml-editor *ngIf="!loading"
                  [(structure)]="page.structure"
                  [filename]="page.filename"
                  [type]="'Page'"
                  [language]="translation.language"
                  [resource]="page.resource"
                  (onCancel)="cancel()"
                  (onSaveForOne)="createCustomPage()"
                  (onSaveForAll)="updatePage()"
></admin-xml-editor>
