<div class="card">
  <div class="card-body">
    <h3>Add new language</h3>
    <input placeholder="Name" [(ngModel)]="newLanguage.name"/>
    <input placeholder="Code" [(ngModel)]="newLanguage.code"/>
    <button (click)="createLanguage()" class="btn btn-success">Save</button>
    <ngb-alert type="info" [dismissible]="false" *ngIf="saving">
      Saving...
    </ngb-alert>
    <ngb-alert type="success" [dismissible]="false" *ngIf="success">
      Success!
    </ngb-alert>
  </div>
</div>
<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  {{errorMessage}}
</ngb-alert>
<ngb-alert type="warning" [dismissible]="false" *ngIf="loading">
  Loading...
</ngb-alert>
<strong>
  <div class="row">
    <div class="col">
      Language
    </div>
    <div class="col">
      Code
    </div>
    <div class="col">
      Actions
    </div>
  </div>
</strong>

<div *ngFor="let language of languages">
  <div class="row">
    <div class="col">
      {{language.name}}
    </div>
    <div class="col">
      {{language.code}}
    </div>
    <div class="col">
      <button (click)="showConfirmButton(language)" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false" *ngIf="language.canDelete">
        Are you sure you want to delete {{language.name}}? <button (click)="deleteLanguage(language)" class="btn btn-dark">Confirm</button>
      </ngb-alert>
    </div>
  </div>
</div>
