<h3>Add new language</h3>
<input placeholder="Name" [(ngModel)]="name"/>
<input placeholder="Code" [(ngModel)]="code"/>
<button (click)="createLanguage()" class="btn btn-primary">Save</button>
<h3>Current Languages</h3>
<table class="table table-hover">
  <thead class="thead-default">
  <tr>
    <th>Language</th>
    <th>Code</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let language of languages">
    <td>{{language.name}}</td>
    <td>{{language.code}}</td>
    <td><button (click)="deleteLanguage(language)" class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
