<div class="card mb-3">
  <div class="card-header">
    <span class="h3">Tool Groups</span>
    <div class="float-right">
      <button
        type="button"
        class="btn btn-default"
        (click)="showInstructions = !showInstructions"
      >
        Toggle instructions
      </button>
      <button
        type="button"
        class="btn btn-primary ml-2"
        (click)="showTester = !showTester"
      >
        Toggle Tester
      </button>
    </div>
  </div>
  <div class="card-body">
    <div [ngbCollapse]="!showInstructions">
      <h5>Instructions - Coming Soon</h5>
    </div>

    <div [ngbCollapse]="!showTester" class="mb-5">
      <div>
        <h5>Test Suggestions</h5>
      </div>
      <admin-tool-group-rule-reuseable
        [rule]="testerLanguageRule"
        [ruleType]="'language'"
        (selectedItemsEmit)="updateSelected($event, 'language', null)"
        [hideExclude]="true"
      >
      </admin-tool-group-rule-reuseable>
      <admin-tool-group-rule-reuseable
        [rule]="testerCountryRule"
        [ruleType]="'country'"
        (selectedItemsEmit)="updateSelected($event, 'country', null)"
        [hideExclude]="true"
        [limitOneAnswer]="true"
      >
      </admin-tool-group-rule-reuseable>
      <admin-tool-group-rule-reuseable
        [rule]="testerPraxisRule"
        [ruleType]="'praxis'"
        [praxisType]="'confidence'"
        [hideExclude]="true"
        (selectedItemsEmit)="updateSelected($event, 'praxis', 'confidence')"
        [limitOneAnswer]="true"
      >
      </admin-tool-group-rule-reuseable>
      <admin-tool-group-rule-reuseable
        [rule]="testerPraxisRule"
        [ruleType]="'praxis'"
        [praxisType]="'openness'"
        [hideExclude]="true"
        (selectedItemsEmit)="updateSelected($event, 'praxis', 'openness')"
        [limitOneAnswer]="true"
      >
      </admin-tool-group-rule-reuseable>
      <div
        class="bg-dark"
        *ngIf="hasAlreadyRunTester"
        style="padding: 15px; border-radius: 10px; margin: 20px; color: #fff"
      >
        <span class="h5 mb-2" style="display: block">Suggestions</span>
        <div *ngIf="loadingSuggestions">
          <span>Loading...</span>
        </div>
        <div *ngIf="!loadingSuggestions">
          <div *ngIf="!suggestedTools.length">
            No suggestions will show with these filters.
          </div>
          <ol style="margin: 0" *ngIf="suggestedTools.length">
            <li *ngFor="let tool of suggestedTools; trackBy: trackByFunction">
              {{ tool.name }}
            </li>
          </ol>
        </div>
      </div>
      <div style="text-align: right">
        <button (click)="getToolGroupSuggestions()" class="btn btn-primary">
          Fetch Suggestions
        </button>
      </div>
    </div>

    <button (click)="openCreateModal()" class="btn btn-secondary">
      <i class="fa fa-plus"></i> Add new Tool Group
    </button>
  </div>
</div>
<ngb-alert type="warning" [dismissible]="false" *ngIf="loadingToolGroups">
  Loading...
</ngb-alert>
<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  {{ errorMessage }}
</ngb-alert>
<div>
  <div *ngFor="let toolGroup of toolGroups; trackBy: trackByFunction">
    <admin-tool-group
      [toolGroup]="toolGroup"
      [toolGroupsComponent]="this"
    ></admin-tool-group>
  </div>
</div>
