<div>
  <h5>Edit {{type}} Layout</h5>
  {{filename}}
  {{language.name}}
  {{resource.name}}
</div>
<div ace-editor
     [(text)]="structure"
     (textChanged)="onStructureChange($event)"
     [autoUpdateContent]="true"
     [options]="{wrap : true}"
     style="min-height: 500px; width:100%; overflow: auto;">
</div>

<ngb-alert type="info" [dismissible]="false" *ngIf="saving">
  Saving...
</ngb-alert>
<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  {{errorMessage}}
</ngb-alert>

<div>
  <button (click)="cancel()" class="btn btn-danger">Cancel</button>
  <button (click)="saveForOne()" class="btn btn-success">{{saveForOneMessage}}</button>
  <button (click)="canConfirmSaveForAll = !canConfirmSaveForAll" *ngIf="language.code === baseLanguageCode" class="btn btn-dark">
    Save for all languages
  </button>
  <ngb-alert type="danger" [dismissible]="false" *ngIf="canConfirmSaveForAll && language.code === baseLanguageCode">
    {{getConfirmationMessage()}}
    <button (click)="saveForAll()" class="btn btn-dark">Confirm</button>
    <button (click)="canConfirmSaveForAll = false" class="btn btn-secondary">Cancel</button>
  </ngb-alert>
  <i>Note: any translated text entered here will be overwritten when Draft is published</i>
</div>
