<div>
  <h5>Edit {{type}} Layout</h5>
  {{filename}}
  {{language.name}}
  {{resource.name}}
</div>
<div ace-editor
     [(text)]="structure"
     (textChanged)="onStructureChange($event)"
     [autoUpdateContent]="true"
     [options]="{wrap : true}"
     style="min-height: 500px; width:100%; overflow: auto;">
</div>

<ngb-alert type="success" [dismissible]="false" *ngIf="saving">
  Saving...
</ngb-alert>
<ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
  {{errorMessage}}
</ngb-alert>

<div>
  <button (click)="onCancel()">Cancel</button>
  <button (click)="saveForOne()">Save (this language only)</button>
  <button (click)="saveForAll()" *ngIf="language.code === 'en'">Save for all languages</button>
  <!-- TODO would be nice to store a field called base_language instead of hardcoding 'en' here. -->
  <i>Note: any translated text entered here will be overwritten when Draft is published</i>
</div>
