<div class="card mb-3">
  <div
    class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    [ngStyle]="{ cursor: 'pointer' }"
    (click)="handleToggleAccordian()"
  >
    <span class="h4 mb-0">
      {{ toolGroup.name }} ({{ toolGroup['suggestions-weight'] }})
    </span>
    <div class="btn-group justify-content-end flex-wrap" role="group">
      <button
        (click)="openUpdateModal(); $event.stopPropagation()"
        class="btn btn-warning mb-2 mb-sm-2 mb-lg-0"
      >
        <i class="fa fa-pencil"></i> Details
      </button>
    </div>
  </div>
  <div class="card-body bg-dark" [ngbCollapse]="!showDetails">
    <div class="row mt-3">
      <div class="col">
        <!-- Languages UI -->
        <div class="card autoScroll">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Languages</span>
            <button class="btn btn-secondary" (click)="createRule('language')">
              <i class="fa fa-file"></i> Add language rule
            </button>
          </div>

          <ul
            class="list-group list-group-flush"
            *ngFor="let rule of toolGroup['rules-language']"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Rule
              <span *ngIf="rule['negative-rule']">(Reverse)</span>
              <button
                (click)="openRuleModal(rule, 'language')"
                class="btn btn-outline-dark float-right"
              >
                <i class="fa fa-pencil"></i> Edit
              </button>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center pt-2 pb-2"
              *ngFor="let language of rule.languages"
            >
              {{ getReadableValue(language, 'language').name }} ({{ language }})
            </li>

            <li class="list-group-item" *ngIf="!rule.languages?.length">
              No languages added
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <!-- Countries UI -->

        <div class="card autoScroll">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Countries</span>
            <button class="btn btn-secondary" (click)="createRule('country')">
              <i class="fa fa-file"></i> Add country rule
            </button>
          </div>

          <ul
            class="list-group list-group-flush"
            *ngFor="let rule of toolGroup['rules-country']"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Rule
              <span *ngIf="rule['negative-rule']">(Reverse)</span>
              <button
                (click)="openRuleModal(rule, 'country')"
                class="btn btn-outline-dark float-right"
              >
                <i class="fa fa-pencil"></i> Edit
              </button>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center pt-2 pb-2"
              *ngFor="let country of rule.countries"
            >
              {{ getReadableValue(country, 'country').name }} ({{ country }})
            </li>

            <li class="list-group-item" *ngIf="!rule.countries?.length">
              No countries added
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <!-- Praxis UI -->
        <div class="card autoScroll">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Praxis</span>
            <button class="btn btn-secondary" (click)="createRule('praxis')">
              <i class="fa fa-file"></i> Add praxis rule
            </button>
          </div>

          <ul
            class="list-group list-group-flush"
            *ngFor="let rule of toolGroup['rules-praxis']"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Rule
              <span *ngIf="rule['negative-rule']">(Reverse)</span>
              <button
                (click)="openRuleModal(rule, 'praxis')"
                class="btn btn-outline-dark float-right"
              >
                <i class="fa fa-pencil"></i> Edit
              </button>
            </li>

            <li
              class="list-group-item d-flex justify-content-between align-items-center pt-2 pb-2"
              *ngFor="let confidence of rule.confidence"
            >
              Confidence -
              {{ getReadableValue(confidence, 'praxis', 'confidence').name }}
            </li>
            <li class="list-group-item" *ngIf="!rule.confidence?.length">
              No praxis confidence added
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center pt-2 pb-2"
              *ngFor="let openness of rule.openness"
            >
              Openness -
              {{ getReadableValue(openness, 'praxis', 'openness').name }}
            </li>

            <li class="list-group-item" *ngIf="!rule.openness?.length">
              No praxis openness added
            </li>
          </ul>
        </div>
      </div>

      <div class="col">
        <!-- Resources UI -->
        <div class="card autoScroll">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span class="h5 mb-0">Tools</span>
            <button class="btn btn-secondary" (click)="addResource()">
              <i class="fa fa-file"></i> Add/Edit Tools
            </button>
          </div>

          <ul
            class="list-group list-group-flush"
            *ngFor="let tool of toolGroup['tools']"
          >
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{ tool?.tool?.name }} ({{ tool.suggestionsWeight }})
            </li>
          </ul>
          <p class="list-group-item" *ngIf="!toolGroup['tools']?.length">
            No tools added
          </p>
        </div>
      </div>
    </div>

    <ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
      {{ errorMessage }}
    </ngb-alert>
  </div>
</div>
