<div class="modal-body">
  <div class="btn-group btn-group-toggle toggle-drafts" data-toggle="buttons">
    <label
      class="btn btn-success {{
        actionType === 'publish' ? 'btn-success' : 'btn-outline-success'
      }}"
      (click)="switchActionType('publish')"
    >
      Publish Languages
    </label>
    <label
      class="btn {{
        actionType === 'createDrafts'
          ? 'btn-secondary'
          : 'btn-outline-secondary'
      }}"
      (click)="switchActionType('createDrafts')"
    >
      Generate Drafts
    </label>
  </div>

  <div *ngFor="let translation of resource['latest-drafts-translations']">
    <label
      class="btn-outline-secondary btn-block translation-btn"
      ngbButtonLabel
      *ngIf="
        actionType === 'publish' ||
        (actionType === 'createDrafts' && translation['is-published'])
      "
    >
      <div class="translation-btn-text">
        <input
          type="checkbox"
          ngbButton
          [(ngModel)]="translation.selectedForAction"
        />
        {{ translation.language.name }}
      </div>
      <admin-translation-version-badge [translation]="translation">
      </admin-translation-version-badge>
    </label>
  </div>
  <br />

  <ngb-alert
    type="success"
    [dismissible]="true"
    *ngFor="let successMessage of sucessfulMessages"
  >
    {{ successMessage }}
  </ngb-alert>
  <ngb-alert type="info" [dismissible]="false" *ngIf="alertMessage">
    {{ alertMessage }}
  </ngb-alert>
  <ngb-alert
    type="danger"
    [dismissible]="false"
    *ngFor="let error of errorMessage"
  >
    {{ error }}
  </ngb-alert>

  <ngb-alert type="info" [dismissible]="false" *ngIf="confirmMessage">
    <p>{{ confirmMessage }}</p>
    <div class="btn-toolbar justify-content-between">
      <button (click)="confirmMessage = null" class="btn btn-danger">
        Cancel
      </button>
      <button (click)="publishOrCreateDrafts()" class="btn btn-success">
        Confirm
      </button>
    </div>
  </ngb-alert>

  <div class="modal-footer justify-content-between">
    <button
      class="btn btn-secondary"
      (click)="cancel()"
      [disabled]="disableButtons"
    >
      Cancel
    </button>
    <button
      class="btn btn-success"
      (click)="showConfirmAlert()"
      [disabled]="disableButtons"
    >
      {{ actionType === 'publish' ? 'Publish' : 'Generate drafts' }}
    </button>
  </div>
</div>
