<div class="modal-body">
  <div class="btn-group btn-group-toggle toggle-drafts" data-toggle="buttons">
    <label
      class="btn {{
        languageType === 'published' ? 'btn-success' : 'btn-secondary'
      }}"
    >
      <input
        type="radio"
        name="languageType"
        value="published"
        [(ngModel)]="languageType"
        autocomplete="off"
        checked
      />
      Pubblished Languages
    </label>
    <label
      class="btn {{
        languageType === 'drafts' ? 'btn-success' : 'btn-secondary'
      }}"
    >
      <input
        type="radio"
        name="languageType"
        value="drafts"
        [(ngModel)]="languageType"
        autocomplete="off"
      />
      Languages with a Draft
    </label>
  </div>

  <div *ngFor="let translation of resource['latest-drafts-translations']">
    <label
      class="btn-secondary btn-block"
      ngbButtonLabel
      *ngIf="
        (languageType === 'published' && translation['is-published']) ||
        (languageType === 'drafts' && !translation['is_published'])
      "
    >
      <input
        type="checkbox"
        ngbButton
        [(ngModel)]="translation.generateDraft"
      />
      {{ translation.language.name }}
    </label>
  </div>
  <br />

  <ngb-alert type="success" [dismissible]="false" *ngIf="sucessfulMessage">
    {{ sucessfulMessage }}
  </ngb-alert>
  <ngb-alert type="info" [dismissible]="false" *ngIf="alertMessage">
    {{ alertMessage }}
  </ngb-alert>
  <ngb-alert
    type="danger"
    [dismissible]="false"
    *ngFor="let error of errorMessage"
  >
    {{ error }}
  </ngb-alert>

  <ngb-alert type="info" [dismissible]="false" *ngIf="confirmMessage">
    <p>{{ confirmMessage }}</p>
    <div class="btn-toolbar justify-content-between">
      <button (click)="confirmMessage = null" class="btn btn-danger">
        Cancel
      </button>
      <button (click)="publishOrCreateDrafts()" class="btn btn-success">
        Confirm
      </button>
    </div>
  </ngb-alert>

  <div class="modal-footer justify-content-between">
    <button
      class="btn btn-secondary"
      (click)="cancel()"
      [disabled]="disableButtons"
    >
      Cancel
    </button>
    <button
      class="btn btn-success"
      (click)="showConfirmAlert()"
      [disabled]="disableButtons"
    >
      {{ languageType === 'published' ? 'Generate drafts' : 'Publish drafts' }}
    </button>
  </div>
</div>
