<div class="modal-body">
  <div class="d-flex justify-content-between align-items-center">
    <h5>Translation Attributes</h5>
    <!-- Add button -->
    <button
      class="btn btn-secondary add-new-translation-attribute"
      (click)="createAttribute()"
    >
      <i class="fa fa-file"></i> Add new Translation Attribute
    </button>
  </div>

  <!-- Loop through items and render -->
  <div class="translation-attributes" *ngIf="resource">
    <div
      *ngIf="!resource['translated-attributes'].length"
      class="no-attributes"
    >
      <p>They're are currently no translated attributes</p>
    </div>

    <div
      class="row md-2"
      *ngFor="let attr of resource['translated-attributes']"
    >
      <div class="col-4">
        <label for="attr-{{ attr.id }}-key">Key</label>
        <input
          id="attr-{{ attr.id }}-key"
          class="form-control"
          placeholder="Key"
          [(ngModel)]="attr.key"
          (input)="changeMade()"
        />
      </div>
      <div class="col-5">
        <label for="attr-{{ attr.id }}-crowdin">Crowdin Phrase ID</label>
        <input
          id="attr-{{ attr.id }}-crowdin"
          class="form-control"
          placeholder="Crowdin Phrase ID"
          [(ngModel)]="attr['crowdin-phrase-id']"
          (input)="changeMade()"
        />
      </div>
      <div class="col-2">
        <label for="attr-{{ attr.id }}-required">Required?</label>
        <input
          id="attr-{{ attr.id }}-required"
          type="checkbox"
          placeholder="Required?"
          [(ngModel)]="attr.required"
          (change)="changeMade()"
        />
      </div>
      <button (click)="removeAttribute(attr)" class="btn btn-warn col-1">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>

  <div class="row" *ngIf="saving">
    <div class="col">
      <ngb-alert type="info" [dismissible]="false">Saving...</ngb-alert>
    </div>
  </div>

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false">
        {{ errorMessage }}
      </ngb-alert>
    </div>
  </div>

  <div *ngIf="multipleActionsResults.length > 0">
    <div class="row" *ngFor="let result of multipleActionsResults">
      <div class="col">
        <ngb-alert type="{{ result.type }}" [dismissible]="false">
          {{ result.text }}
        </ngb-alert>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button (click)="closeEditModal()" class="btn btn-secondary">Close</button>
    <button
      (click)="multipleActions()"
      class="btn btn-success"
      [disabled]="!this.changesMade"
    >
      Save All Changes
    </button>
  </div>
</div>
