<div class="modal-header">
  <h5>Add new tip to resource {{ tip.resource.name }}</h5>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <label>Name</label>
    </div>
    <div class="col">
      <input placeholder="Name" [(ngModel)]="tip.name" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div
        ace-editor
        [(text)]="tip.structure"
        [mode]="'xml'"
        [autoUpdateContent]="true"
        [options]="{ wrap: true }"
        style="min-height: 500px; width: 100%; overflow: auto;"
      ></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ngb-alert type="info" [dismissible]="false" *ngIf="saving">
        Saving...
      </ngb-alert>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
        {{ errorMessage }}
      </ngb-alert>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button (click)="dismissModal()" class="btn btn-danger">Cancel</button>
    <button (click)="saveTip()" class="btn btn-success">Save</button>
  </div>
</div>
