<div class="modal-header">
  <h5>Add new page to resource {{ page.resource.name }}</h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <label>Filename</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Filename"
        [(ngModel)]="page.filename"
      />
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <label>Position</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Position"
        [(ngModel)]="page.position"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div
        ace-editor
        [(text)]="page.structure"
        [mode]="'xml'"
        [autoUpdateContent]="true"
        [options]="{ wrap: true }"
        style="min-height: 500px; width: 100%; overflow: auto;"
      ></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ngb-alert type="info" [dismissible]="false" *ngIf="saving">
        Saving...
      </ngb-alert>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false" *ngIf="errorMessage">
        {{ errorMessage }}
      </ngb-alert>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button (click)="dismissModal()" class="btn btn-danger">
      Cancel
    </button>
    <button (click)="savePage()" class="btn btn-success">Save</button>
  </div>
</div>
