/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import '~components-font-awesome/css/font-awesome.min.css';

.language-search-typeahead + .dropdown-menu.show {
  max-height: 500px;
  overflow-y: auto;
}

#filter-dropdown-button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
#filter-dropdown-button:hover {
  background-color: #f8f9fa;
}
.dropdown-menu > span {
  padding-left: 1.5rem;
}
