<div class="modal-body">
  <div class="row mb-2">
    <div class="col-6">
      <label for="name">Name</label>
      <input
        id="name"
        class="form-control"
        placeholder="Name"
        [(ngModel)]="resource.name"
      />
    </div>
    <div class="col-3">
      <label for="abbrev">Abbreviation</label>
      <input
        id="abbrev"
        class="form-control"
        placeholder="Abbreviation"
        [(ngModel)]="resource.abbreviation"
      />
    </div>
    <div class="col-3">
      <label>System</label>
      <select class="custom-select" [(ngModel)]="resource.system">
        <option *ngFor="let system of systems" [ngValue]="system">
          {{ system.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-3">
      <label>Type</label>
      <select class="custom-select" [(ngModel)]="resource.resourceType">
        <option *ngFor="let type of resourceTypes" [ngValue]="type">
          {{ type.name }}
        </option>
      </select>
    </div>
    <div class="col-3" *ngIf="!isMetaTool()">
      <label>Metatool</label>
      <select
        class="custom-select"
        [(ngModel)]="resource.metatool"
        [compareWith]="compareTools"
      >
        <option value=""></option>
        <option *ngFor="let tool of metatools" [ngValue]="tool">
          {{ tool.name }}
        </option>
      </select>
    </div>
    <div class="col-3" *ngIf="isMetaTool()">
      <label>Default Variant</label>
      <select
        class="custom-select"
        [(ngModel)]="resource['default-variant']"
        [compareWith]="compareTools"
      >
        <option *ngFor="let variant of resource.variants" [ngValue]="variant">
          {{ variant.name }}
        </option>
      </select>
    </div>
    <div class="col" *ngIf="!isMetaTool()">
      <label>Category</label>
      <select class="custom-select" [(ngModel)]="resource['attr-category']">
        <option value="articles">Articles</option>
        <option value="growth">Christian Growth</option>
        <option value="conversation_starter">Conversation Starter</option>
        <option value="gospel">Gospel Invitation</option>
        <option value="training">Training</option>
      </select>
    </div>
    <div class="col" *ngIf="!isMetaTool()">
      <label for="order">Order</label>
      <input
        id="order"
        class="form-control"
        placeholder="Order"
        [(ngModel)]="resource['attr-default-order']"
      />
    </div>
  </div>

  <div class="row mb-2" *ngIf="!isMetaTool()">
    <div class="col-3">
      <label>Banner</label>
      <div class="row">
        <div class="col">
          <label>Image</label>
          <select class="custom-select" [(ngModel)]="resource.banner">
            <option value=""></option>
            <option
              *ngFor="
                let attachment of resource.attachments
                  | orderBy: 'file-file-name'
              "
              [ngValue]="attachment.id"
            >
              {{ attachment['file-file-name'] }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-9">
      <label>Banner (About)</label>
      <div class="row">
        <div class="col">
          <label>Image</label>
          <select class="custom-select" [(ngModel)]="resource.bannerAbout">
            <option value=""></option>
            <option
              *ngFor="
                let attachment of resource.attachments
                  | orderBy: 'file-file-name'
              "
              [ngValue]="attachment.id"
            >
              {{ attachment['file-file-name'] }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="about_banner_youtube">Youtube</label>
          <input
            id="about_banner_youtube"
            class="form-control"
            placeholder="Youtube Video Id"
            [(ngModel)]="resource.aboutOverviewVideoYoutube"
          />
        </div>
        <div class="col">
          <label>Animation</label>
          <select
            class="custom-select"
            [(ngModel)]="resource['attr-about-banner-animation']"
          >
            <option value=""></option>
            <option
              *ngFor="
                let attachment of resource.attachments
                  | orderBy: 'file-file-name'
              "
              [ngValue]="attachment.id"
            >
              {{ attachment['file-file-name'] }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isMetaTool()">
    <div class="col-3">
      <input
        id="spotlight"
        placeholder="spotlight"
        type="checkbox"
        [(ngModel)]="resource['attr-spotlight']"
      />
      &nbsp;
      <label for="spotlight">Spotlight</label>
    </div>

    <div class="col-3">
      <input
        id="hidden"
        placeholder="hidden"
        type="checkbox"
        [(ngModel)]="resource['attr-hidden']"
      />
      &nbsp;
      <label for="hidden">Hidden</label>
    </div>
    <div class="col-3"></div>
    <div class="col-3" *ngIf="!isMetaTool()">
      <label for="crowdin">Crowdin Project ID</label>
      <input
        id="crowdin"
        class="form-control"
        placeholder="Crowdin Project ID"
        [(ngModel)]="resource.crowdinProjectId"
      />
    </div>
  </div>

  <div class="row mb-2" *ngIf="!isMetaTool()">
    <div class="col">
      <label>Description</label>
      <textarea
        name="description"
        class="form-control"
        placeholder="Description"
        rows="3"
        [(ngModel)]="resource.description"
      ></textarea>
    </div>
  </div>

  <div class="row" *ngIf="!isMetaTool()">
    <div class="col">
      <label>Manifest XML</label>
      <div
        ace-editor
        [(text)]="resource.manifest"
        [mode]="'xml'"
        [autoUpdateContent]="true"
        [options]="{ wrap: true }"
        style="min-height: 250px; overflow: auto"
      ></div>
    </div>
  </div>

  <div class="row" *ngIf="saving">
    <div class="col">
      <ngb-alert type="info" [dismissible]="false">Saving...</ngb-alert>
    </div>
  </div>

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false">
        {{ errorMessage }}
      </ngb-alert>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button (click)="closeEditModal()" class="btn btn-secondary">Cancel</button>
    <button (click)="saveResource()" class="btn btn-success">Save</button>
  </div>
</div>
