<div class="modal-body">
  <div class="row">
    <div class="col">
      <label>Name</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Name"
        [(ngModel)]="resource.name"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Abbreviation</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Abbreviation"
        [(ngModel)]="resource.abbreviation"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>System</label>
    </div>
    <div class="col">
      <select class="form-control" [(ngModel)]="resource.system">
        <option *ngFor="let system of systems" [ngValue]="system">
          {{ system.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Type</label>
    </div>
    <div class="col">
      <select class="form-control" [(ngModel)]="resource.resourceType">
        <option *ngFor="let type of resourceTypes" [ngValue]="type">
          {{ type.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>OneSky Project ID</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="OneSky Project ID"
        [(ngModel)]="resource.oneskyProjectId"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Description</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Description"
        [(ngModel)]="resource.description"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Youtube Video Id</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Youtube Video Id"
        [(ngModel)]="resource.aboutOverviewVideoYoutube"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Banner</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Attachment Id"
        [(ngModel)]="resource.banner"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Banner (About)</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Attachment Id"
        [(ngModel)]="resource.bannerAbout"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Order</label>
    </div>
    <div class="col">
      <input
        class="form-control"
        placeholder="Order"
        [(ngModel)]="resource['attr-default-order']"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label>Manifest XML</label>
    </div>
  </div>
  <div class="row">
    <div
      ace-editor
      [(text)]="resource.manifest"
      [mode]="'xml'"
      [autoUpdateContent]="true"
      [options]="{ wrap: true }"
      class="col"
      style="min-height: 250px; overflow: auto"
    ></div>
  </div>

  <div class="row" *ngIf="saving">
    <div class="col">
      <ngb-alert type="info" [dismissible]="false">Saving...</ngb-alert>
    </div>
  </div>

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <ngb-alert type="danger" [dismissible]="false">
        {{ errorMessage }}
      </ngb-alert>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="btn-group" role="group">
    <button (click)="closeEditModal()" class="btn btn-secondary">Cancel</button>
    <button (click)="saveResource()" class="btn btn-success">Save</button>
  </div>
</div>
